.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.selected {
    color : red;
    background-color: blue;
}

.input {
    width : 100%;
    font-size : 1.5rem;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}
