@import "../shared.less";

.map {
    width : 100%;
    height : 100%;
}

.container {
    display: flex;
    justify-content: center;
    transform: translateY(1000px);
    transition: transform, 0.2s;
    width: 100%;
    position : absolute;
    bottom : 0;
    right : 0;

    &.open {
        transform : translateY(0);
    }

    @media @notsmall {
            max-width: 30rem;
    }
}


